.auth-user-table {
    margin-top: 2%;
}

.button-row {
    margin-top: 2%;
}

.client-credentials-instructions {
    margin-top: 2%;
}

.client-credentials-install-video {
    margin-top: 2%;
}

.creds-settings {
    margin-top: 2%;
}

.container {
    padding: 5%;
}

.jwt-instructions {
    margin-top: 2%;
}

.jwt-install-video {
    margin-top: 2%;
}

.oauth-testing {
    margin-top: 2%;
}

.settings {
    padding: 2%;
}
