<?xml version="1.0" encoding="UTF-8"?>
<CustomMetadata xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <label>PLC_Device_Flow</label>
    <protected>true</protected>
    <values>
        <field>Value__c</field>
        <value xsi:type="xsd:string">{"name": "PLC_JWT_Key_Packaged_Flow","client_id": "CLIENT_ID","client_secret": "CLIENT_SECRET","id": "CA_ID", "jwt_private_key": "JWT_PRIVATE_KEY","org_id": "CA_ORG_ID","scope": "api id refresh_token","flow": "jwt"}</value>
    </values>
</CustomMetadata>
